body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), url('8203.jpg');
    background-size: cover;
}

.tech-font {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.heading{
    text-align: center;
    color: white;
    font-size: 75px;
    -webkit-text-stroke-color: #c0a148;
    -webkit-text-stroke-width: 2px;
}

.text_input_box{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: auto;
    color: blue;
    background-color:aliceblue;
    min-width: 600px;
    max-width: 800px;
}

.text_input_box input{
    background-color: rgb(78, 78, 135);
    color: white;
    width: 90px;
}